.menu_content {
  background-color: cadetblue;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu_items{
  list-style: none;
}

.menu_items li {
  font-size: 30px;
  margin:10px 0  ;
}

body{
  margin: 0;
}

